// styles for the doughnut chart

$doughnut-background-color: #DDD;

.doughnut-background {
    stroke: $doughnut-background-color;
}

.doughnut-arc {
    transform-origin: center;
}

// counterclockwise
// transformation varies according to the arc's value
// currently unused/disabled
// .widdershins {}

// clockwise transformation does not vary
.clockwise {
    transform: rotate(-90deg);
}